<mat-sidenav-container>
  <mat-sidenav #sidebar mode="over">
      <mat-card (click)="sidebar.toggle()" (click)="onProfile()" class="profile_card"><img [src]="ImgUrl">
        <span > &nbsp; Welcome {{name}}</span>
          <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
      </mat-card>

      <mat-nav-list>
          <a mat-list-item (click)="sidebar.toggle()" [routerLink]="['/user/dashboard']"> <mat-icon>dashboard</mat-icon> &nbsp;
              <span>Dashboard</span></a>

          <a mat-list-item (click)="sidebar.toggle()"><mat-icon>group</mat-icon>
              &nbsp; <span>Employee Management</span></a>

          <span>
              <a mat-list-item (click)="LeadSubMenu()"><mat-icon>receipt</mat-icon> &nbsp;<span>Lead Manegment</span> <mat-icon *ngIf="!onLeadSubMenu">keyboard_arrow_right</mat-icon> <mat-icon
                      *ngIf="onLeadSubMenu">keyboard_arrow_down</mat-icon></a>
              <span *ngIf="onLeadSubMenu" class="SubMenu">
                  <a mat-list-item (click)="LeadSubMenu()" (click)="sidebar.toggle()"><mat-icon>donut_small</mat-icon>
                      &nbsp; <span> List Of Lead</span></a>
                  <a mat-list-item (click)="LeadSubMenu()" (click)="sidebar.toggle()"
                      [routerLink]="['/user/viewLead']"><mat-icon>av_timer</mat-icon> &nbsp; <span> Add Lead</span></a>
              </span>
          </span>


          <a mat-list-item (click)="sidebar.toggle()" (click)="logout()"><mat-icon
                  style="transform: rotate(90deg);">save_alt</mat-icon> &nbsp; <span>Logout</span> </a>
      </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
      <div class="content">
          <div class="toolbar">
              <mat-toolbar>
                  <button mat-icon-button (click)="sidebar.toggle()"> <mat-icon>menu</mat-icon></button>
                  <button mat-icon-button> <mat-icon matBadgeColor="warn">notifications</mat-icon></button>
              </mat-toolbar>
          </div>

          <div class="main"><br>
              <main>
                  <router-outlet></router-outlet>
              </main>
          </div>

          <div id="footer">
              <mat-toolbar>
                  <button mat-icon-button><mat-icon>home</mat-icon> <br><mat-hint>Home</mat-hint></button>
                  <button mat-icon-button><mat-icon>group</mat-icon><br><mat-hint>Lead</mat-hint></button>
                  <button mat-icon-button><mat-icon>receipt</mat-icon><br><mat-hint>Leave</mat-hint></button>
              </mat-toolbar>
          </div>


      </div>
  </mat-sidenav-content>
</mat-sidenav-container>